# Virtual environment
*venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# Distribution files
build/
dist/
*.egg-info/

# Environment variables
.env
